{% extends "base.html" %}
{% block title %}{{ _(flatpage.title) }} - {{ SITE_LONG_NAME }}{% endblock %}
{% block og_title %}
    <meta property="og:title" content="{{ _(flatpage.title) }} - {{ SITE_LONG_NAME }}">
{% endblock %}

{% block content_title %}{{ _(flatpage.title) }}{% endblock %}

{% block title_row %}
    {% if flatpage.url != '/about/' %}{{ super() }}{% endif %}
{% endblock %}

{% block header %}
    {% if flatpage.url != '/about/' %}{% include "flatpages/admin_link.html" %}{% endif %}
{% endblock %}

{% block title_ruler %}
    {% if flatpage.url != '/about/' %}<hr>{% endif %}
{% endblock %}

{% block body %}
    <div class="body content-description{% if flatpage.url == '/about/' %} about-card{% endif %}">
        {% cache 86400 'flatpage' flatpage.url %}
            {{ flatpage.content|markdown('flatpage', jax)|reference|str|safe}}
        {% endcache %}
    </div>
{% endblock %}

{% block bodyend %}
    {% if REQUIRE_JAX %}
        {% include "mathjax-load.html" %}
    {% endif %}
{% endblock %}