{% extends "tabs-base.html" %}

{% block tabs_class %}user-nav-tabs{% endblock %}

{% block tabs %}
    {{ make_tab('about', 'fa-info-circle', url('user_page', user.user.username), _('About')) }}
    {{ make_tab('problems', 'fa-puzzle-piece', url('user_problems', user.user.username), _('Statistics')) }}
    {% if not request.official_contest_mode %}
        {{ make_tab('blogs', 'fa-rss', url('user_blog', user.user.username), _('Blogs')) }}
    {% endif %}
    {% if request.user.has_perm('judge.view_all_user_comment') %}
        {{ make_tab('comments', 'fa-comments', url('user_comment', user.user.username), _('Comments')) }}
    {% endif %}
    {% if user.user == request.user %}
        {{ make_tab('edit', 'fa-pencil', url('user_edit_profile'), _('Edit profile')) }}
    {% endif %}
    {% set show_admin_user = perms.auth.change_user %}
    {% set show_admin_profile = perms.judge.change_profile %}
    {% set show_impersonate = request.user.is_superuser and user.user != request.user and not user.user.is_superuser %}
    {% set show_ban = user.can_be_banned_by(request.user) %}
    {% if show_admin_user or show_admin_profile or show_impersonate or show_ban %}
        <li class="tab-sep" aria-hidden="true"></li>
        {% if show_admin_user %}
            {{ make_tab_icon('admin_user', 'fa-cogs', url('admin:auth_user_change', user.user.id), _('Admin User')) }}
        {% endif %}
        {% if show_admin_profile %}
            {{ make_tab_icon('admin_profile', 'fa-user-secret', url('admin:judge_profile_change', user.id), _('Admin Profile')) }}
        {% endif %}
        {% if show_impersonate %}
            {{ make_tab_icon('impersonate', 'fa-eye', url('impersonate-start', user.user.id), _('Impersonate')) }}
        {% endif %}
        {% if show_ban %}
            {% if user.is_banned %}
                {{ make_tab_icon('unban', 'fa-life-ring', url('user_unban', user.user.username), _('Unban this user')) }}
            {% else %}
                {{ make_tab_icon('ban', 'fa-ban', url('user_ban', user.user.username), _('Ban this user')) }}
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
